<%if @beverage.photo.present?%>
    <%= image_tag @beverage.photo, class: 'w-50'%>
<% end %>
<h1>
    <%= @beverage.name %> 
</h1>
<%if @beverage.is_alcoholic%>
    <span>Bebida Alcólica</span>
<% else %>
    <span>Bebida não alcólica</span>
<% end %>
<p><%= @beverage.description%></p>